# Ignorar la carpeta de configuraciones de IDE de JetBrains
.idea/

# Ignorar la carpeta de configuraciones de Visual Studio
.vs/

# Archivos de configuración del sistema operativo, como los archivos .DS_Store en Mac
.DS_Store

# Archivos de compilación y directorios de salida
bin/
obj/

# Carpetas de paquetes NuGet
packages/

# Carpetas de node_modules si estás usando herramientas de Node.js
node_modules/

# Archivos de log
*.log


# Ignorar archivos de proyecto de Xamarin.Android
*.csproj


# Carpeta de salida de compilación
./bin/
./obj/

packages/

# Ignorar archivos de configuración para evitar usos malintencionados con mi clave de API
Config/ApiConfig.cs


